<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.omar.mycomputer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_computer"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/my_computer_round"
        android:supportsRtl="true"
        android:theme="@style/MyComputerTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance"/>
        <activity android:name=".EditActivity"
            android:launchMode="singleInstance"></activity>
    </application>

</manifest>